/* Style the body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #083d60, #8e44ad);
  color: #fff;
}

body, ul {
  margin: 0;
  padding: 0;
}


header {
  background-color: #333; /* Dark background color */
  border-radius: 50px;
  padding: 10px; /* Add some padding */
}
header nav {
  display: flex;
  align-items: flex-end;
}

/* Styling the navigation links */
nav img {
  margin-right: 5px;
}
nav ul {
  list-style-type: none;
  padding-right: 20px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

nav ul li a:hover {
  color: lightgray;
}


/* Styling main */
.container {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  flex-wrap: wrap;
}

section {
  background: linear-gradient(135deg, #083d60, #8e44ad);
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(201, 188, 188, 0.1);
  padding: 20px;
  margin: 0 10px;
  flex: 1;
}

.my-chart {
  margin-bottom: 10px;
}
.food-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.column {
  display: flex;
  flex-direction: column;
}

/* Styling the inputs for my day */
form {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: #0578c4;
}
input[type="number"] {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
input[type='submit'] {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.reset-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

footer {
  text-align: center; /* Center the content */
  font-size: 14px; /* Set the font size to small */
}

/* Media queries */


/* Media query for small screens */
@media only screen and (max-width: 600px) {
  header nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
  }
  form {
    width: 40%;
  }
}
@media only screen and (min-width: 600px) {
  /* Adjust form styling for extra-large screens */
  form {
    width: 40%;
}
}